#login-page-ele,
#register-page-ele {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-page-field,
.register-page-field {
  padding: 5px 0px;
}

.link-css {
  color: #0d6efd;
  text-decoration: none;
  cursor: pointer;
}
